@model BonaFinders.Models.UnethicalModels.UDetail

@{
    ViewBag.Title = "Details";
}
@{
    <img class="imageBG" src="~/Content/assets/greenblur.PNG">
}

<div class="body-content form-style table-responsive">

    <div class="dl-horizontal">
        <h2 class="heading-font">Unethical Organization Details</h2>
        <hr />

            <table class="bold-main-font table table-detail form-content table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UnethicalOrganizationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FastFashion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exploitation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sweatshop)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Copyright)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UCountry)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UImprove)
                    </th>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayFor(model => model.UnethicalOrganizationName)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.FastFashion)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Exploitation)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Sweatshop)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Copyright)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.UCountry)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.UImprove)
                    </th>
                </tr>
            </table>

            <p class="bold-main-font shadow-text">
                @Html.ActionLink("Back to List", "Index")
            </p>
    </div>

</div>