@model BonaFinders.Models.UnethicalModels.UEdit

@{ViewBag.Title = "Edit";}
@{<img class="imageBG" src="~/Content/assets/greenblur.PNG">}

<div class="body-content form-style">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 class="heading-font">Edit this Organization</h2>

        <div class="form-content">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UnethicalOrganizationId)

            <div class="form-group bold-main-font">
                @Html.LabelFor(model => model.UnethicalOrganizationName, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.UnethicalOrganizationName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnethicalOrganizationName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group bold-main-font">
                @Html.LabelFor(model => model.FastFashion, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    <div class="checkbox check">
                        @Html.EditorFor(model => model.FastFashion)
                        @Html.ValidationMessageFor(model => model.FastFashion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group bold-main-font">
                @Html.LabelFor(model => model.Exploitation, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    <div class="checkbox check">
                        @Html.EditorFor(model => model.Exploitation)
                        @Html.ValidationMessageFor(model => model.Exploitation, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group bold-main-font">
                @Html.LabelFor(model => model.Sweatshop, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    <div class="checkbox check">
                        @Html.EditorFor(model => model.Sweatshop)
                        @Html.ValidationMessageFor(model => model.Sweatshop, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group bold-main-font">
                @Html.LabelFor(model => model.Copyright, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    <div class="checkbox check">
                        @Html.EditorFor(model => model.Copyright)
                        @Html.ValidationMessageFor(model => model.Copyright, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group bold-main-font">
                @Html.LabelFor(model => model.UCountry, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.UCountry, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UCountry, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group bold-main-font">
                @Html.LabelFor(model => model.UImprove, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.UImprove, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UImprove, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group bold-main-font">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
        }

        <div class="bold-main-font shadow-text">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>