@model IEnumerable<BonaFinders.Models.EthicalModels.EListItem>

@{ViewBag.Title = "Index";}
@{ <img class="imageBG" src="~/Content/assets/greenblur.PNG"> }

<div class="body-content table-responsive">
    <h2 class="heading-font">List of Ethical Organizations</h2>
    <h4 class="bold-main-font">(Companies, Businesses, Brands, Corporations, etc.)</h4>

    @if (User.Identity.IsAuthenticated) { 
    <p class="bold-main-font shadow-text">@Html.ActionLink("Add an Ethical Organization", "Create")</p>
    <p class="bold-main-font shadow-text">OR</p>}
    <p class="bold-main-font shadow-text">@Html.ActionLink("View Reviews", "Index", "EthicalReview")</p>

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            @ViewBag.SaveResult
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }

    <table class="table table-striped table-hover bold-main-font thead-light">

        <tr class="top-border">
            <!-- tr style="background-color: darkgrey" or some other color -->
            <th>
                @Html.DisplayNameFor(model => model.EthicalOrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sustainable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diverse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrueltyFree)
            </th>
            <th>
                <!--  class="visible-lg visible-md" -->
                @Html.DisplayNameFor(model => model.ECountry)
            </th>
            <th>
                <!--  class="visible-lg visible-md" -->
                @Html.DisplayNameFor(model => model.EImprove)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EthicalOrganizationName)
                </td>
                <td class="success">
                    @Html.DisplayFor(modelItem => item.Sustainable)
                </td>
                <td class="success">
                    @Html.DisplayFor(model => item.Diverse)
                </td>
                <td class="success">
                    @Html.DisplayFor(modelItem => item.CrueltyFree)
                </td>
                <td>
                    <!--  class="visible-lg visible-md" -->
                    @Html.DisplayFor(modelItem => item.ECountry)
                </td>
                <td class="warning">
                    <!--  class="visible-lg visible-md" -->
                    @Html.DisplayFor(modelItem => item.EImprove)
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Change", "Edit", new { id = item.EthicalOrganizationId }) |
                        @Html.ActionLink("More Info", "Details", new { id = item.EthicalOrganizationId }) |
                        @Html.ActionLink("Remove", "Delete", new { id = item.EthicalOrganizationId })
                    </td>
}

            </tr>

        }

    </table>

</div>